.carrousel-container {
  width: 100%;
  margin: 0 auto;
}

.image-container {
  max-height: 400px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.title {
  color: var(--color-fourth);
  font-weight: 800;
  font-size: 5rem;
  margin-left: 10px;
}

.subtitle {
  color: var(--color-third);
  font-weight: 600;
  font-size: 3rem;
}

.register {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--color-primary);
}
.image-register {
  width: 80%;
}

.search-name {
  background-color: white;
  display: flex;
  padding: 30px;
  margin: 4px;
}

.title-1 {
  color: black;
  font-weight: 800;
  font-size: 5rem;
  margin-left: 10px;
}

.subtitle-1 {
  color: red;
  font-weight: 600;
  font-size: 3rem;
}

/* Carrito */

.carrito-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #eb6440;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el icono del carrito */
.icon-carrito {
  color: #eb6440;
  font-size: 30px;
  margin: 0;
  padding: 0;
}
/* styles.css */

.carrito-cantidad {
  position: relative;
  top: -1.5em;
  left: 1em;
  border-radius: 50%;
  background: none;
  color: brown;
  padding: 0.2em;
  font-size: 30px;
}
