@import url(./styles/inicio.css);
@import url(./styles/menu.css);
@import url(./styles/footer.css);
@import url(./styles/cardProductos.css);
@import url(./styles/cardProductos.css);

:root {
  --color-primary: #eff5f5;
  --color-secondary: #d6e4e5;
  --color-third: #497174;
  --color-fourth: #eb6440;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.bg-orange {
  background-color: var(--color-fourth);
}

.bg-orange:hover {
  background-color: var(--color-fourth);
}

.bg-orange:active {
  background-color: var(--color-secondary);
}

.color-orange {
  color: #eb6440;
}
.card-detalle {
  border-color: black;
  border: 1px;
}
.mainSection {
  flex-grow: 1;
}
