@import url(./styles/inicio.css);
@import url(./styles/menu.css);
@import url(./styles/footer.css);
@import url(./styles/cardProductos.css);
@import url(./styles/cardProductos.css);

:root {
  --color-primary: #eff5f5;
  --color-secondary: #d6e4e5;
  --color-third: #497174;
  --color-fourth: #eb6440;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

body{
  overflow-x: hidden;
}

.bg-orange {
  background-color: var(--color-fourth);
}

.bg-orange:hover {
  background-color: var(--color-fourth);
}

.bg-orange:active {
  background-color: var(--color-secondary);
}

.color-orange {
  color: #eb6440;
}
.card-detalle {
  border-color: black;
  border: 1px;
}
.mainSection {
  flex-grow: 1;
}
.color-green {
  background-color: var(--color-third);
}
.detalle-imagen {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.img-container {
  position: relative;
  text-align: center;
}

.img-container img {
  width: 100%;
  height: auto;
  max-height: 410px;
}

.img-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .img-text {
    display: none;
  }
}
